<div class="img-header-link">
  <div class="img-header-link__imageblock">
    <img class="img-header-link__img img-responsive" src="{{imgSrc}}" alt="foto">
  </div>
  <div class="img-header-link__contentblock">
      {{#if this.headerAsLink}}
          <a class="img-header-link__link" title="{{header}}" href="{{#if this.headerLink}}{{headerLink}}{{else}}#{{/if}}">
              <h3 class="img-header-link__header {{#if this.headerAsLink}}img-header-link__header-link{{/if}}">{{header}}</h3>
          </a>
      {{else}}
          <h3 class="img-header-link__header">{{header}}</h3>
      {{/if}}
      {{#if bodytext}}
          <p class="img-header-link__p">{{bodytext}}</p>
          <hr class="img-header-link__divider">
      {{/if}}
      {{#if this.textSecond}}
          <p class="img-header-link__p">{{textSecond}}</p>
          <hr class="img-header-link__divider">
      {{/if}}
      <div class="img-header-link__linksblock">
        {{#if this.linkFirst}}
            <a class="img-header-link__link" title="{{linkFirst}}" href="{{#if this.linkFirst}}{{linkFirst__link}}{{else}}#{{/if}}"><span class="img-header-link__link-icon icons icon-{{linkIconName}}"></span>{{linkFirst}}</a>
        {{/if}}
        {{#if this.linkSecond}}
            <a class="img-header-link__link" title="{{linkSecond}}" href="{{#if this.linkSecond}}{{linkSecond__link}}{{else}}#{{/if}}"><span class="img-header-link__link-icon icons icon-{{linkIconName}}"></span>{{linkSecond}}</a>
        {{/if}}
        {{#if this.linkThird}}
            <a class="img-header-link__link" title="{{linkThird}}" href="{{#if this.linkThird}}{{linkThird__link}}{{else}}#{{/if}}"><span class="img-header-link__link-icon icons icon-{{linkIconName}}"></span>{{linkThird}}</a>
        {{/if}}
      </div>
  </div>
</div>
