<div class="teaser-carousel">
    <div class="swiper-container teaser-carousel__container js__teaser-carousel">
        <div class="swiper-wrapper teaser-carousel__wrapper">

            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
            <div class="elem">
              {{ renderContent 'imageHeaderLink'
                  imgSrc="images/spot_image1.jpg"
                  header="Content element 1"
                  headerAsLink = false
                  headerLink =""
                  bodytext=""
                  textSecond=""
                  linkFirst="first link"
                  linkFirst_link=""
                  linkSecond="second link"
                  linkSecond_link=""
                  linkThird=""
                  linkThird_link=""
                  linkIconName="link"
              }}
            </div>
        </div>
        <div class="js__teaser-carousel__pagination teaser-carousel__pagination swiper-pagination"></div>
    </div>
    <div class="js__teaser-carousel__btn-prev news-carousel__btn-prev swiper-button-prev swiper-button-disabled"></div>
    <div class="js__teaser-carousel__btn-next news-carousel__btn-next swiper-button-next"></div>
</div>
